@font-face {
  font-family: TitleFont; 
  src: url(hamilton_title_font.ttf); 
}

h1{
    text-align: center;
    font-family:TitleFont;
    font-size: 45px;
}

body {

  background-color: rgb(46, 97, 113);
}